# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
beautifulsoup4=4.11.1
flask=2.1.2
numpy=1.21.4
pandas=1.4.2
pip=22.1.1
python=3.9.12
scipy=1.8.1
sympy=1.10.1
sqlalchemy=1.4.36